body {
  max-width: 680px;
  max-height: 5s0px;
  margin: 0 auto;
  padding: 20px;
}

#app-outline {
  background-image: url(https://i.pinimg.com/originals/42/40/3f/42403fa82b88b5b63e2d218541580c6a.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.all {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.search-bar {
  text-align: center;
  margin: 0px auto;
  padding: 14px;
  max-width: 200px;
}

h1,
h2 {
  text-align: center;
  padding: 10px;
}

.dashboard {
  padding: 20px;
  height: 500px;
}

button {
  display: block;
  margin: 0 auto;
  background-color: rgba(211, 211, 211, 0.484);
  border: 0;
  padding: 10px;
  border-radius: 10px;
}
.city {
  font-weight: bold;
}

.temperature {
  padding-top: 26px;
  font-size: 90px;
  text-align: right;
}

.units {
  font-size: 18px;
  position: relative;
  top: -34px;
}

a {
  text-decoration: none;
  color: black;
}
.icon {
  width: 10%;
}

.weather-elements {
  padding: 20px;
  font-size: 18px;
}

ul {
  list-style: none;
  text-align: left;
}

.card {
  border: none;
  margin: 8px auto;
  background-color: rgba(255, 255, 255, 0.451);
}
.card-title {
  font-size: medium;
}

.card-text {
  font-size: small;
}

footer {
  text-align: center;
  margin-top: 20px;
}
