body {
  width: 520px;
  margin: 0 auto;
  padding: 8px;
}

#app-outline {
  background-image: url(https://cdn.dribbble.com/users/925716/screenshots/3333720/attachments/722375/night.pngp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.all {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.search-bar {
  text-align: center;
  margin: 0px auto;
  padding: 14px;
  max-width: 200px;
}

button {
  display: block;
  margin: 0 auto;
  background-color: rgba(211, 211, 211, 0.484);
  border: 0;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

h1 {
  margin-top: 30px;
  text-align: center;
  color: white;
  font-size: 40px;
}

h2 {
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 20px;
}

.dashboard {
  height: 290px;
}

img {
  margin-top: -40px;
}

.temperature {
  text-align: center;
  font-size: 80px;
  color: rgb(69, 4, 129);
}

.units {
  font-size: 18px;
  position: relative;
  top: -34px;
  color: rgb(69, 4, 129);
}

.units-link {
  color: rgb(69, 4, 129);
  text-decoration: none;
}

li {
  display: inline;
  color: white;
  font-size: 18px;
  list-style: none;
  margin: 20px;
}

.forecast-wrapper {
  background-color: rgba(255, 255, 255, 0.451);
  margin: -40px -14px 20px -14px;
  padding: 35px 6px 24px 6px;
  border-radius: 5px;
}

.forecast-inner {
  display: block;
  margin: 0 auto;
  color: rgb(69, 4, 129);
  font-weight: bold;
}

.weather-forecast-date {
  font-size: medium;
}

.forecast-temp {
  font-size: small;
}

footer {
  text-align: center;
  color: black;
  margin-top: 20px;
}
